<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EXCEL - Educational Services</title>
    <link rel="icon" href="{% static 'web/images/favicon.png' %}" type="image/x-icon" />
    <meta name="description" content="Excel Educational Services">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS Dependencies -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'web/css/excel.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/excel-extras.css' %}">
</head>

<body class="excel-landing-page">
    <!-- Welcome Section -->
    <div class="program d-flex justify-content-center flex-column">
        <div class="container">
            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-dark pt-4 px-0">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'web/images/excel.png' %}" class="mr-2" alt="Excel">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'web:football_academy' %}">Football Academy</a>
                        </li>

                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href=""
                                id="navbarDropdownMenuLink-7" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Edu Programs
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                {% for i in programs %}
                                <a class="dropdown-item" href="{% url 'web:programs' i.slug %}">{{i.course_name}}</a>
                                {% endfor %}
                            </div>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'web:contact' %}">Contacts</a>
                        </li>

                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            {% for link in social %}
              <a class="socio_icon" href="#"><i class="fa fa-{{link.platform}}"></i></a>
              {% endfor %}
                        </li>

                    </ul>
                </div>
            </nav>
            <!-- / Navigation -->
        </div> <!-- .container -->

        <!-- Inner Wrapper -->
        <div class="inner-wrapper mt-auto mb-auto container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="welcome-heading display-4 text-white">{{program_details.course_name}}</h1>
                    
                </div>
            </div>
        </div>
        <!-- / Inner Wrapper -->
    </div>
    <!-- / Welcome Section -->


    <!-- Contact Section -->
    <div id="contact" class="contact section-invert py-4">
        
        <div class="container py-4 mt-5">
            <div class="row">
                
                <div class="col-md-6 colsm-12">
                    <div class="card my-2">
                        <div class="card-thumb">
                            <img src="{{program_details.image.url}}"
                                alt="" class="thumb">
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                   
                    <p>{{program_details.description|safe}}</p>
                    
                </div>

            </div>
        </div>
    </div>
    <!-- / Contact Section -->

    <!-- Footer CTA -->
    <div class="footer-cta bg-dark">
        <div class="container mt-5">
            <div class="py-3">

                <div class="share d-table ml-auto mr-auto my-3">
                    <a href="#" class="btn btn-pill btn-primary mr-4 mb-2" title="Share Shards on Twitter">
                        <i class="fa fa-whatsapp mr-1"></i> +971 50 8489 313</a>
                    <a href="#" class="btn btn-pill btn-primary mr-4 mb-2" title="Email">
                        <i class="fa fa-envelope-o mr-1"></i> muhsi@xluae.com</a>
                    <a href="#" class="btn btn-pill btn-primary mr-4 mb-2" title="Share on LinkedIn">
                        <i class="fa fa-map-marker mr-1"></i> Dubai - Silicon Oasis Authority</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Section -->
    <footer class="main-footer py-5">
        <p class="text-muted text-center small p-0 mb-4">&copy; Copyright 2017 — Excel Educational Services</p>
        <div class="social d-table ml-auto mr-auto">
            {% for link in social %}
            <a class="twitter mx-3 h4" href="#" target="_blank">
                <i class="fa fa-{{link.platform}}"></i>
            </a>
            {% endfor %}
        </div>
    </footer>
    <!-- / Footer Section -->

    <!-- JavaScript Dependencies -->
    <!-- JavaScript Dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.15.3/dist/sweetalert2.all.min.js"></script>
    <script src="{% static 'web/js/form.js' %}"></script>
</body>

</html>
